[submodule "Plugins/InteractionSys"]
	path = Plugins/InteractionSys
[submodule "Plugins/UISys"]
	path = Plugins/UISys
[submodule "Plugins/PlayerSys"]
	path = Plugins/PlayerSys
	url = https://github.com/liliil/PlayerSys
